
<div class="container">
    <h4 style="font-family:monospace">Select your top 5 genres to get the magic matchmaking started...</h4>

    <%= simple_form_for(@top_genre) do |f| %>
      <%= f.input :genre, collection: TopGenre.all.pluck(:genre).uniq, input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: { maxItems: 5 } }} %>
      <%= f.submit "Create profile", class: "btn btn-primary" %>
    <% end %>
</div>
