<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.name.split.first %></strong>
  </small>
  <p><%= message.content %></p>
  <small>

    <i><%= message.created_at.strftime("%b %e %l:%M %p") %></i>
  </small>

</div>
