// Specific CSS for your home-page
.landing-pages {
  font-family: 'Lobster', cursive;
}

.landing-page img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100px);
  }
  
  .landing-page-animation img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    transform: translateX(0px);
  
    animation-name: blackSlide;
    animation-duration: 4250ms;
    animation-fill-mode: forwards;
  }

  .slogan {
    position: absolute;
    top: 50px;
    left: 40px;
    // width: 50px;
    color: white;
    h1 {
      
      font-family: "Lobster", cursive;
      margin-top: 90px;
      position: relative;
      right: 16px;
    }
  }
  
  @keyframes blackSlide {
    0% {
      top: 0px;
    }
    25% {
      top: 0px;
    }
    100% {
      top: -100vh;
    }
  }
  
  .landing-page-typed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 199;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 74px;
    font-family: Lobster, cursive;
  
    animation-name: jamSlide;
    animation-duration: 4500ms;
    animation-fill-mode: forwards;
  }
  
  @keyframes jamSlide {
    0% {
      top: 50%;
    }
    50% {
      top: 50%;
    }
    100% {
      top: 10%;
    }
  }
  
  .signup-button {
    position: fixed;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    opacity: 0;
    visibility: inherit;
    transition: 0.1s all ease-in-out;

    animation-name: showButton;
    animation-duration: 5470ms;
    animation-fill-mode: forwards;
  
    .btn {
      border-radius: 100px;
      color: #000000;
      background-color: purple;
      background-color: #ffffff;
      padding: 7px;
      font-size: 25px;
      border-color: white;
    }
  }
  
  .scroll-down-btn {
    position: fixed;
    top: 95%;
    left: 20%;
    z-index: 99;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: inherit;
    color: black;
    background-color: white;
    border-radius: 20px;
    transition: 0.5s all ease-in-out;
  
    animation-name: showButton;
    animation-duration: 5470ms;
    animation-fill-mode: forwards;
  }
  
  @keyframes showButton {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .login-button {
    margin: 0 auto;
    position: fixed;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    opacity: 0;
    visibility: inherit;
    transition: 0.1s all ease-in-out;

    animation-name: showButton;
    animation-duration: 5470ms;
    animation-fill-mode: forwards;
  
    .btn {
      border-radius: 100px;
      color: #000000;
      background-color: purple;
      background-color: #ffffff;
      padding: 7px;
      font-size: 25px;
      border-color: white;

    }
  }
  
  @keyframes showButton {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .second-page {
    position: fixed;
    top: 100vh;
    left: 0;
    transition: 1s all ease-in-out;
    z-index: 299;
  }
  
  .second-page-bg {
    position: fixed;
    z-index: 299;
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
  
  .second-page-bg img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 299;
    height: 100vh;
    width: 100vw;
    transform: translateX(0px);
    object-fit: cover;
    filter: saturate(50%);
  }
  
  .second-page-content {
    position: absolute;
    z-index: 299;
    color: white;
  
    .jam-text {
      position: relative;
      left: 50px;
      top: 50px;
      width: 300px;
    }
  
    .scroll-up-btn {
      position: relative;
      left: 17px;
      top: 581px;
      background-color: white;
      color: black;
      border-radius: 20px;
  }

    h2 {
      position: relative;
      left: 9px;
      top: 122px;
      width: 120%;
      position: relative;
      left: 20px;
      top: 279px;
      background-color: white;
      color: black;
      border-radius: 20px;
    }

    h3 {
      position: relative;
      top: 466px;
      left: 143px;
    }

    h4 {
      position: relative;
      top: 438px;
      left: 82px;
      width: 80%;
    }
  }
  
  .up {
    top: 0px;
  }
  
  .down {
    top: 100vh;
  }
  
  .hide {
    opacity: 0;
    visibility: hidden;
  }
