<div class="chatrooms-container">
  <h1>My matches</h1>

  <div class="card" id = "card-in">
      <% @chatrooms.each do |chatroom|%>
      <a class = "name-of"href= "<%= chatroom_path(chatroom) %>"><%= User.find(chatroom.match.swipe.swipee_id).name%></a>
      <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
