<div class="user">
  <div class="container">
    <div class="card">
      <div id="img-artist">
        <img src="https://extra-images.akamaized.net/image/0a/o/2018/12/25/0a5af3a0210b5d3e98f7ea85b67a2fb3_md.jpg" alt="Favourite Artist">
      </div>
      <div class="user-image-wrapper">
        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3087&q=80" alt="">
      </div>
      <div class="swipe-buttons">
        <i class="fa-solid fa-forward fa-rotate-180" style="color: #83ebec;"></i>
        <i class="fa-solid fa-forward" style="color: #83ebec;"></i>
      </div>
      <h6 class="prompt">On Repeat</h6>
      <div class="card-section"></div>
      <h6 class="prompt">All Time Favourite</h6>
      <div class="card-section"></div>
      <h6 class="prompt">Go To Karaoke</h6>
      <div class="card-section"></div>

    </div>
  </div>
</div>
