<div class="cards users-index" data-controller="matches">
    <%= render "user", user: @users.first %>
</div>

<%# <%= render 'shared/spotify' %>
<%= render 'shared/footer' %>
<%= render "shared/flashes" %>
