<div class="cards users-index" data-controller="matches">
  <% if @users.any? %>
    <%= render "user", user: @users.first %>
  <% else %>
    <div class="match-end-card"><p>No more matches available. Sorry ! 😶</p></div>
  <% end %>
</div>

<%# <%= render 'shared/spotify' %>
<%= render 'shared/footer' %>
<%= render "shared/flashes" %>
