<% if notice %>
  <% unless notice["id"].nil? %>
    <% user = User.find(notice["id"]) %>
    <% if user %>
      <div class="alert alert-info fade show p-3" role="alert">
        <div class="d-flex justify-content-between">
          <h1>WOOP WOOP!</h1>
          <a data-bs-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </a>
        </div>

        <br><h2>You matched with <%# user.name %></h2><br>

        <div class="user-image-wrapper mt-4 d-flex flex-column">
          <%= cl_image_tag user.photos[0].key %>
          <div class="profile-name-match btn btn-light pb-2">
              <%= chatroom_id = Chatroom.find_by(swipe_id: Swipe.last.id) %>
            <%= link_to "Chat with #{user.name}", chatrooms_path(chatroom_id) %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
