.footer-main {
  width: 100vw;
  height: 70px;
  color: #ffffff;
  background-color: #4c4c4c;
  position: sticky;
  bottom: 0px;
  justify-content: space-around;
  align-items: center;
  .fa-solid {
    font-size: 28px;
  }
}

.f-logo {
  height: 35px;
}
