.message-row {
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 60%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: lightcoral;
}

.sender-style p {
  font-family: "raleway";
}

.receiver-style {
  background-color: lightblue;
}

.receiver-style p{
  font-family: "raleway";
}

.chatroom-send-message {
  position: fixed;
  bottom: 0;
}

.message-notifications {
  width: 300px;
  height: 100px;
  background-color: rgb(197, 250, 230);
  border-radius: 25px;
  margin: 0 auto;
  box-shadow: 2px 2px 1px rgba(80, 80, 80, 0.1);

  p {
    margin-top: 10px;
    margin-left: 30px;
    color: black;
    text-decoration: none;
    font-family: "raleway";

  }

  position: fixed;
  z-index: 999;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);

  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    top: -150px;
  }

  20% {
    top: 60px;
  }

  80% {
    top: 60px;
  }

  to {
    top: -150px;
  }
}
