.message-row {
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 60%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: lightcoral;
}

.receiver-style {
  background-color: lightblue;
}
