body {
  background-color: white;
  font-family: 'raleway';
}


.my-container {
  padding: 30px;
  margin-top: 25%;
}

.container {
  padding: 30px;
  margin-top: 40%;
}

.empty {
  margin-top: -40%;
}

#next-icon {
  font-size: 50px;
}

.transparent {
  opacity: 0;
  visibility: hidden;
}

.navigate-btns {
  position: fixed;
  bottom: 100px;
  opacity: 0.7;
  width: 80%;
  right: 50%;
  transform: translateX(50%);
}

// .spotify {
//   position: fixed;
//   bottom: 95px;
//   margin-left: 255px;
//   z-index: 10;
//   background-image: url("Spotify_App_Logo.png");
//   background-size: 65px;
//   width: 65px;
//   height: 70px;
//   background-repeat: no-repeat;
//   animation: throbbing 4s ease-in-out infinite;
// }

.c-profile {
  position: fixed;
  bottom: 100px;
  right: 31px;
  z-index: 10;
  // opacity: 0.7;
}

.register-button {
  // background-color: transparent;
  border: none;
  z-index: 10;
  opacity: 1;
  position: relative;
}

@keyframes throbbing {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  25%, 75% {
    transform: scale(1);
  }
}

.custom-form-style .form-control {
  border: none;
  border-bottom: 2px solid black;
  background: none;
  outline: none;
  width: 100%;
  color: black;
  padding: 5px 0;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'raleway', sans-serif;
}

#user_description {
  height: 20px;
}

#icon {
  font-size: 35px;
  padding-bottom: 20px;
}

.label-size {
  font-size: 35px;
}

.text-size {
  font-size: 17px;
}

.password-size {
  font-size: 25px;
}

.gender-form-style .form-control  {
  border: none;
  background: none;
  outline: none;
  padding: 5px 0;
  margin: 10px 0;
  box-sizing: border-box;
}
.img {
  margin-left: -7px;
  box-shadow: 10px;
}


.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-secondary-color);
  font-size: 15px;
  font-family: 'raleway', sans-serif;
}

.user_password_confirmation  {
  margin-top: 40px
}

.mb-5 {
  margin-bottom: 3rem !important;
    position: relative;
    bottom: 90px;
}
