.card {
  background-color: white;
  width: 100%;
  position: relative;
}

.h6 {
  text-align: left;
}
.user-image-wrapper {
  height: 450px;
  width: 100%;
  margin-bottom: 10px;
}

.user-image-wrapper img {
  height: 450px;
  width: 100%;
  object-position: top;
  object-fit: cover;
  border: 15px solid #a6deff;
}

.card-section {
  border: 0.5px solid black;
  font-family: "sans-serif";
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

#img-artist img {
  z-index: 10;
  position: absolute;
  object-fit: cover;
  object-position: top;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

.prompt {
  // font-family: monospace;
  font-family: "lobster", cursive;
  font-size: 18px;
}

.profile-name {
  color: white;
  font-size: 30px;
  transform: translate(40px, -70px);
  width: 90%;
  text-shadow: 2px 2px #d372ff;
}

.swipe-btns {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0px auto;
  transform: translateY(-20px);

  i {
    font-size: 50px;
  }
}

.swipe-left {
  button {
    border: none;
    background-color: initial;
  }
}

.swipe-right {
  button {
    border: none;
    background-color: initial;
  }
}

.alert {
  background-color: #aeaeffe4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 10px solid rgb(92, 92, 92);
  }

  h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
  }

  h2 {
    color: white;
    font-size: 30px;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(19, 2, 34);
  }

  .profile-name-match {
    color: black;
    // font-family: monospace;
    font-size: 26px;
    // width:auto;

  }

}

.padding {
  padding: 30px 20px;
}
