.card {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
}

// .parent-element {
//   overflow: scroll;
// }

// .page-content {
//   max-height: 100vh; /* Set a maximum height equal to the viewport height */
//   overflow-y: auto; /* Enable vertical scrolling if needed */
// }
.h6 {
  text-align: left;
}

.user-image-wrapper {
  height: 450px;
  width: 100%;
  margin-bottom: 10px;
//   object-fit: cover;
//   object-position: center;
//   border-radius: 50%;
//   border: 5px solid #b99cfc;
}

.user-image-wrapper img {
  height: 460px;
  width: 100%;
  object-position: top;
  object-fit: cover;
  border: 15px solid #b99cfc;
}

.card-section {
  background-color: #ffffff;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

.prompt + .card-section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 5px solid #6757ff;
  font-size: 25px;
  font-family: 'raleway', sans-serif;
}

  // .card-section {
  //   border: 1px solid #e0e0e0; /* Add a light border around the card sections */
  // }

  //   .prompt + .card-section {
  //   margin-top: 20px;
  //   padding-top: 20px;
  //   border-top: 1px solid #e0e0e0;
  //   font-size: 25px;
  //   font-family: 'raleway', sans-serif;
  // }

#img-artist img {
  z-index: 10;
  position: absolute;
  object-fit: cover;
  object-position: top;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

.padding {
  // background-color: #6bcce4;
  padding: 20px;
  padding-bottom: 90px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  // margin-bottom: 60px;
}

.profile-content {
  position: relative;
}

.prompt {
  font-family: "lobster", cursive;
  font-size: 22px;
  margin-left: 20px;
}

.profile-name {
  position: absolute;
  z-index: 999;
  color: white;
  font-size: 36px;
  width: 90%;
  text-shadow: 2px 2px #d372ff;
  margin-left: 30px;
  // margin-bottom: 50px;
  margin-top: 390px;
}

.profile-namea {
  font-size: 30px;
  // margin-top: 380px;
  // transform: translate(40px, -70px);
  width: 90%;
  text-shadow: 2px 2px #d372ff;
  margin-left: 15px;
  margin-top: 315px;
  // margin-bottom: 50px;
}

.swipe-btns {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto;
  color: black;
  z-index: 999;
  // position: relative;
  // transform: translateY(-20px);

  i {
    font-size: 50px;
    color: black;
  }
}

.swipe-left,
.swipe-right {
  button {
    border: none;
    background-color: initial;
  }
}

.alert {
  background-color: #aeaeffe4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    height: 451px;
    width: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 10px solid rgb(92, 92, 92);
  }

  h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
  }

  h2 {
    color: white;
    font-size: 30px;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(19, 2, 34);
  }

  .profile-name-match {
    color: black;
    font-size: 26px;
  }
}

.users-index {
  height: calc(100vh - 70px);
  margin-bottom: 80px;
}

.match-end-card {
  color: black;
  background: #a6ffce;
  box-shadow: 6px 6px 0 #4c4c4c;
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 25%;

  p {
    margin: 20px;
    font-family: "lobster", cursive;
    font-size: 30px;
    text-align: center;
  }
}
