<div class="card">
  <div class="card-header">
    Create Story
  </div>

  <div class="card-body">
    <%= simple_form_for [current_user, @social] do |f| %>
      <%= f.input :photo, as: :file,
                  required: true
                  %>
      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
